// ==================================================
// General
// ==================================================

config-notification {
    disable-failed
}

prefer-no-csd

// ==================================================
// Input
// ==================================================

input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="0%"
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

// ==================================================
// Outputs (Monitors)
// ==================================================

output "eDP-1" {
    mode "1920x1080@144.000"
    position x=1920 y=0
    focus-at-startup
}

output "HDMI-A-1" {
    mode "1920x1080@99.999"
    position x=0 y=0
}

// ==================================================
// Layout & Visuals
// ==================================================
//spawn-at-startup "/home/dipankar/.config/niri/wallpaper-cycler.sh"

// ==================================================
// Layout & Visuals
// ==================================================

layout {
    gaps 12
    center-focused-column "on-overflow"
    background-color "transparent"
    always-center-single-column
    // default-column-width { proportion 0.66667; }
    default-column-width { proportion 0.5; }

    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.34
        proportion 0.5
        proportion 0.67
        proportion 1.0
    }


    focus-ring {
        width 2
        //active-color "#89b4fa"
        inactive-color "#505050"
        active-gradient from="#6ea1f2" to="#89b4fa" angle=45
    }

    struts {
        left 2
        right 2
        top 2
        bottom 2
    }

    tab-indicator {
        //off
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 8
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
    }

    shadow {
        on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}


overview {
    workspace-shadow {
        off
    }
}

environment {
    XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

// ==================================================
// Window Rules
// ==================================================

// window-rule {
//     match app-id=r#"^org\.wezfurlong\.wezterm$"#
//     // default-column-width {}
//     //match is-floating=false
//     opacity 0.75
//     draw-border-with-background false
//     background-effect {
//         xray true
//         blur true
//         //noise 0.05
//         //saturation 3
//     }
//     popups {
//         opacity 1.0
//     }
// }

window-rule {
    match app-id="org.gnome.Nautilus"
    //open-floating true
    // default-column-width { }
    //default-window-height { fixed 500; }
    opacity 0.75
    draw-border-with-background false
    background-effect {
        xray true
        blur true
        //noise 0.05
        //saturation 3
    }
    popups {
        opacity 0.9
    }
}

// window-rule {
//     match app-id="localsend"
//     open-floating true
//     default-column-width { proportion 0.25; }
//     default-window-height { fixed 600; }
// }
//
// window-rule {
//     match app-id="it.mijorus.smile"
//     open-floating true
//     default-column-width { proportion 0.15; }
//     default-window-height { fixed 400; }
// }
//
// window-rule {
//     match app-id="be.alexandervanhee.gradia"
//     open-floating true
//     default-column-width { proportion 0.5; }
//     default-window-height { fixed 700; }
// }

window-rule {
    match app-id="btrfs-assistant"
    open-floating true
    default-column-width { proportion 0.35; }
    default-window-height { fixed 500; }
}

window-rule {
    match app-id="org.quickshell"
    //open-floating true
    // default-column-width { }
    //default-window-height { fixed 750; }
    opacity 0.75
    draw-border-with-background false
    background-effect {
        xray true
        blur true
        //noise 0.05
        //saturation 3
    }
    popups {
        opacity 1.0
    }
}

window-rule {
    match app-id="brave-browser"
    default-column-width { proportion 0.7; }
    opacity 0.75
    draw-border-with-background false
    background-effect {
        xray true
        blur true
        //noise 0.05
        //saturation 3
    }
    popups {
        opacity 1.0
    }
    
}

window-rule {
    match app-id="firefox"
    default-column-width { proportion 0.7; }
    opacity 0.75
    draw-border-with-background false
    background-effect {
        xray true
        blur true
        //noise 0.05
        //saturation 3
    }
    popups {
        opacity 1.0
    }
}

window-rule {
    match app-id="kitty"
    // default-column-width { proportion 0.5; }
    opacity 0.75
    draw-border-with-background false
    background-effect {
        xray true
        blur true
        //noise 0.05
        //saturation 3
    }
    popups {
        opacity 1.0
    }
}

window-rule {
    match app-id="zed"
    default-column-width { proportion 0.7; }
    opacity 0.75
    draw-border-with-background false
    background-effect {
        xray true
        blur true
        //noise 0.05
        //saturation 3
    }
    popups {
        opacity 1.0
    }
}

window-rule {
    match app-id="spotify"
    default-column-width { proportion 0.7; }
    opacity 0.75
    draw-border-with-background false
    background-effect {
        xray true
        blur true
        //noise 0.05
        //saturation 3
    }
    popups {
        opacity 1.0
    }
}

window-rule {
    geometry-corner-radius 10 //20
    clip-to-geometry true
    opacity 0.72
    draw-border-with-background false
    background-effect {
        xray true
        blur true
        //noise 0.05
        //saturation 3
    }
    popups {
        opacity 1.0
    }
}

// layer-rule {
//     match namespace="^launcher$"
//     match at-startup=true
//     match layer="overlay"
//     opacity 0.8
//     background-effect {
//         xray true
//         blur true
//         noise 0.05
//         saturation 3
//     }
//     popups {
//         // Match the default GTK 3 popup corner radius.
//         geometry-corner-radius 6
//         opacity 0.6
//
//         background-effect {
//             blur true
//             //xray false
//         }
//     }
// }

// ==================================================
// Recent Windows
// ==================================================

recent-windows {
    debounce-ms 500
    open-delay-ms 100

    highlight {
        active-color "#8aadf4ff"
        urgent-color "#ed8796ff"
        padding 8
        corner-radius 4
    }

    previews {
        max-height 500
        max-scale 0.5
    }
    binds {
        Alt+Tab         { next-window     scope="workspace"; }
        Alt+Shift+Tab   { previous-window scope="workspace"; }
    }
}


// ==================================================
// fixed workspaces
// ==================================================

workspace "1"
workspace "2"

// ==================================================
// Keybinds
// ==================================================

//included in dms/binds.kdl

// ==================================================
// Blur
// ==================================================


// ==================================================
// External Includes
// ==================================================

//include "dms/colors.kdl"
//include "dms/layout.kdl"
//include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/windowrules.kdl"
include "dms/cursor.kdl"
include "dms/outputs.kdl"
