[Desktop Entry]
Name=Neovim (Kitty)
Comment=Edit code files in Neovim using Kitty
Exec=kitty -- nvim %F
Icon=nvim
Terminal=false
Type=Application
Categories=TextEditor;Development;
